
h2 {
  margin: 0;
  font-family: Montserrat, sans-serif;
  text-align: left;
}
h2 {
  font-size: 20px;
}
.card {
  background-color: #ffffff;
  margin: 10px auto;
  width: 100%;
  text-align: center;
  border-radius: 10px;
  box-shadow: 2px 2px 10px #bdbdbd;
  display: flex;
}
.card__image {
  border-radius: 10px 10px 0 0;
  max-height: 200px;
  max-width: 400px;
}
.card__copy {
  padding: 20px;
  display: flex;
  justify-content: start;
  flex-direction: column;
}

.readmore{
    display: flex;
    justify-content: start;
}
